.intro{
    height: calc(100vh-rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.introimage{
    position: absolute;
    z-index: -1;
    top: -2rem ;
    right: 0;
    object-fit: cover;
    height: 100vh;
}
.introcontent{
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.hello{
    font-size: 1.75rem;
    font-weight: 100;
    margin-bottom: 1rem;
}
.introname{
    color: yellow;
    margin-bottom: 2rem;
}
.intropara{
    font-size: medium;
    font-weight: 100;
    margin-top: 1rem;

}
.btn{
    background-color: white;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid ;
    border-radius: 4rem;
    padding: 1rem 2rem;
    margin-top: 3rem;
    cursor: pointer;
    border: none;

}
.btn:hover{
    background-color: yellow;
}
@media screen and (max-width:600px){
    .introimage{
        right:-40vw;   
}
.introcontent{
    font-size: 10vw;
}
.hello{
    font-size: 4.5vw;
}
}
  